@model IEnumerable<Mango.Web.Models.Dto.CouponDto>
@using System.Globalization

<div class="coupon-container">
    <div class="coupon-header">
        <span class="coupon-container-title">Coupons List</span>
    </div>
    <div class="coupon-content">
        <div class="coupon-content-header">
            <a asp-asp-controller="Coupon" asp-action="CreateCoupon"><i class="fa fa-plus"
                    aria-hidden="true"></i></i>Create New Coupon</a>
        </div>

        <div class="coupon-data-table">
            <div class="coupon-table-hr">
                <div><span>Coupon Code</span></div>
                <div><span>Discount Amount</span></div>
                <div><span>Minimum Amount</span></div>
                <div><span></span></div>
            </div>

            @foreach (var item in Model)
            {
                <div class="coupon-table-dr">
                    <div>@(item.CouponCode)</div>
                    <div>@(item.DiscountAmount.ToString("c", new CultureInfo("hi-IN")))</div>
                    <div>@(item.MinAmount)</div>
                    <div><a asp-action="CouponDelete" asp-route-couponId="@item.CouponId" class="delete-btn fa fa-trash"></a></div>
                </div>
            }
        </div>

    </div>

</div>