<div class="create-coupon-form">
    <h1>Create Coupon</h1>
    <hr class="separator separator-line">

    <div class="create-coupon-content">
        <div class="create-coupon-row">
            <label>Coupon Code</label>
            <input type="text"></input>
        </div>

        <div class="create-coupon-row">
            <label>Discount Amount</label>
            <input type="text"></input>
        </div>

        <div class="create-coupon-row">
            <label>Minimum Amount</label>
            <input type="text"></input>
        </div>

        <div class="create-coupon-row">
            <a asp-controller="Coupon" asp-action="CouponIndex" id="back-to-list">Back to List</a>
            <a id="create">Create</a>
        </div>
    </div>

</div>